
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- <blockquote>The dreams of yesterday are the hopes of today
                and the reality of tomorrow. Science has not yet mastered
                prophecy. We predict too much for the next year and yet far
                too little for the next ten.</blockquote> -->

                <%= @post.text %>
                <br>
                <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
            </div>
        </div>
    </div>
</article>


<hr>
